$calendar-border-color: #e0e1e2;
$out-of-range-date-color: grey;
$top-link-hover-color: #1678c2;
$event-color: white;

.calendar {
  .top {
    margin-bottom: 1em;
    display: flex;
    div {
      display: inline-block;
    }
    a {
      color: black;
      text-decoration: none;
      &:hover {
        color: $top-link-hover-color;
      }
    }
    .previous, .next, .reset, .switch_view_mode {
      line-height: 2em;
      cursor: pointer;
    }
    .next, .reset, .switch_view_mode {
      margin-left: 1em;
    }
    .switch_view_mode {
      text-transform: capitalize;
      &:before {
        content: '[';
      }
      &:after {
        content: ']';
      }
    }

    .label {
      float: right;
      font-size: 2em;
      margin-left: auto;
      .month {
        font-weight: bold;
        margin-right: 0.25em;
        &.small {
          display: none;
        }
      }
    }
  }
  .events {
    color: $event-color;
    .event {
      padding: 0.25em;
    }
    a {
      color: $event-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .month {
    .day {
      border-color: $calendar-border-color;
      border-style: solid;
      border-width: 0;
      border-bottom-width: 1px;
      border-right-width: 1px;
      min-height: 3em;
      &.first {
        border-left-width: 1px;
      }
    }
  }
  .week {
    display: flex;
    &.header {
      font-weight: bold;
      border-bottom: 1px $calendar-border-color solid;
    }
  }
  .day {
    min-width: 40px;
    width: 14.5%;
    float: left;

    &.other_month {
      color: $out-of-range-date-color;
    }
    &.today {
      font-weight: bold;
    }
  }
}

@media (max-width: 720px) {
  .calendar {
    .events {
      font-size: 0.8em;
    }
    .top {
      .label {
        .medium.month {
          display: none;
        }
        .small.month {
          display: inline;
        }
      }
    }
  }
}
